$xxl: 87.5em; // 4k and hi-res desktop
$xl: 70em; //  
$lg: 60em; // 1080 and hi-res laptops
$med-lg: 768px; //
$med: 43em; // hi-res tablets and low-res laptops
$sm-med: 576px; //
$sm: 30em; // mobile and low-res tablets
$xs: 376px; //
// $xs: 20em; // mobile only

@mixin responsive($query) {
    @media (max-width: $query ) {
        @content;
    }
}