$xxl: 87.5em; // 1400px: 4k and hi-res desktop
$xl: 70em; //  1120px
$lg: 60em; // 960px: 1080 and hi-res laptops
$med-lg: 768px; //
$med: 43em; //688px: hi-res tablets and low-res laptops
$sm-med: 576px; //
$sm: 30em; //480px: mobile and low-res tablets
$xs: 376px; //
// $xs: 20em; // mobile only

@mixin responsive($query) {
    @media (max-width: $query ) {
        @content;
    }
}