@use 'viewport';

@include viewport.responsive(viewport.$med) {
    .navbar-links {
        display: none;
    }
}

@include viewport.responsive(viewport.$sm) {
    .navbar-link-contact {
        font-size: 0.9rem;
    }
}

.collapse-links {
    // z-index: 1 !important;
    position: absolute;
    right: 2rem;
    top: 5em;

    // background-color: rgb(213, 208, 255);
    background-color: white;
    // backdrop-filter: blur(10px);
    border-radius: 20px 10px 20px 20px;
    font-size: 1.1rem;
    color: rgb(104, 84, 252);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .33rem;
    align-items: flex-end;

    transition: height 0.35s;
    transition-timing-function: ease-in-out;

    width: 10rem;
    // height: 15rem;

    overflow: hidden;
    // padding-right: 1em;
}

.collapse-links a:hover {
    color: rgb(104 84 252) !important;
}

.collapse-links--state-collapse {
    height: 0;
    // border: 2px solid #f9f9fb;
}

.collapse-links--state-open {
    height: 18rem;
    border: 2px solid;
}

// .collapse-links--component::before {
//     content: '';
//     position: absolute;
//     background-color: rgb(104 84 252);
//     top: 5.1em;
//     right: 1.78em;
//     width: 1rem;
//     height: 1rem;

//     // border-radius: 2px;
//     // box-shadow: 2px 2px 5px 0px cyan;

//     transform: translate(-50%) rotate(45deg);

//     // z-index: 2 !important;
// }