@use 'viewport';

@include viewport.responsive(viewport.$med) {
    .navbar-links {
        display: none;
    }
}

@include viewport.responsive(viewport.$sm) {
    .navbar-link-contact {
        font-size: 0.9rem;
    }
}

.collapse-links {
    background-color: rgb(196 196 196 / 5%);
    display: flex;
    font-size: 1.1rem;
    color: rgb(104, 84, 252);
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    transition: height 0.40s ease-out;
    overflow: hidden;

    padding-right: 1em;
}

.collapse-links a:hover {
    color: rgb(104 84 252) !important;
}

.collapse-links--state-collapse {
    height: 0;
}

.collapse-links--state-open {
    height: 10rem;
}