div {
    header {
        display: none;
        .navbar-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;

            .navigation__profile {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    div {
        header {
            .navbar-buttons {
                .navbar__connect {
                    display: none;
                }
                .navigation__profile {
                    position: relative;
                    display: inline-block;
                    cursor: pointer;

                    .navigation__profile__image {
                        cursor: pointer;
                    }

                    .navigation__profile__options {
                        z-index: 100;
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin-top: 2rem;
                        width: 14rem;
                        border-radius: 0.5rem;
                        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
                        background-color: #fff;
                        outline: none;

                        div {
                            padding: 0.5rem;
                            button {
                                width: 100%;
                                height: 100%;
                                border: none;
                                background-color: transparent;
                                cursor: pointer;
                                &:hover {
                                    background-color: transparent;
                                }
                            }

                            .navigation__profile__options__item {
                                display: block;
                                padding-left: 1rem;
                                padding-right: 1rem;
                                padding-top: 0.5rem;
                                padding-bottom: 0.5rem;
                                font-size: 0.875rem;
                                line-height: 1.25rem;
                                color: #000;
                                transition-property: background-color, color;
                                transition-duration: 75ms;
                                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                                text-align: left;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                box-shadow: none;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .navbar-links {
                display: none;
            }
        }
    }
}
